@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Alumni+Sans:wght@100&family=Amatic+SC:wght@700&family=Cormorant+SC:wght@300;400&family=Dancing+Script&family=Great+Vibes&family=Italianno&family=Kaushan+Script&family=Montserrat:wght@300&family=Ramaraja&family=Roboto:wght@100&family=Source+Code+Pro:wght@200&family=Tangerine:wght@400;700&family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Alumni+Sans:wght@100&family=Amatic+SC:wght@700&family=Cormorant+SC:wght@300;400&family=Dancing+Script&family=Great+Vibes&family=Italianno&family=Kaushan+Script&family=Montserrat:wght@300&family=Ramaraja&family=Roboto:wght@100&family=Source+Code+Pro:wght@200&family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Alumni+Sans:wght@100&family=Amatic+SC:wght@700&family=Bebas+Neue&family=Cormorant+SC:wght@300;400&family=Dancing+Script&family=Great+Vibes&family=Italianno&family=Kaushan+Script&family=Montserrat:wght@300&family=Playball&family=Poppins:wght@300&family=Ramaraja&family=Roboto:wght@100&family=Source+Code+Pro:wght@200&family=Tangerine:wght@400;700&family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alumni+Sans+Inline+One&family=Alumni+Sans:wght@100&family=Amatic+SC:wght@700&family=Bebas+Neue&family=Cormorant+Garamond&family=Cormorant+SC:wght@300;400&family=Dancing+Script&family=Forum&family=Great+Vibes&family=Italianno&family=Kaushan+Script&family=Montserrat:wght@300&family=Playball&family=Poppins:wght@300&family=Ramaraja&family=Roboto:wght@100&family=Source+Code+Pro:wght@200&family=Tangerine:wght@400;700&family=The+Nautigal:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0 auto;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #525659;
  color: #ffffff;
}
/*NAVBAR STYLING*/
h2.title-logo {
  color: #ffffff;
  font-family: 'Tangerine', cursive;
  font-size: 4rem;
}
.navbar {
  position: fixed;
  font-family: 'Alumni Sans', sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 100;
  width: 100%;
  margin: auto;
  text-shadow: 0px 0px 10px #f5f0ed;
  background: #0000004d;
}
.navbar a {
  float: left;
  display: block;
  color: #525659;
  text-align: center;
  padding: 10px;
}
.navbar a:hover {
  background-color: #525659;
  border-radius: 5px;
  color: black;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: center;
}
.max-width {
  max-width: 1300px;
  margin: 1em auto;
}
.navbar .menu li {
  display: inline-block;
  padding: 0 0.3em;
  margin: 0 0.4em;
}
.navbar .menu li a {
  position: relative;
  font-size: 1.2rem;
  color: #ffffff;
  transition: 0.5s;
}
.menu li a::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  left: 52%;
  bottom: -20%;
  transform: translateX(-50%);
  transition: 0.5s;
}
.menu li a:hover::after {
  width: 100%;
}
/* END OF NAVBAR STYLING */

/*HOMEPAGE STYLING */
.home {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: url(/LANDING-PAGE-IMG/HOME-IMG-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-content {
  margin-top: 5em;
  text-shadow: 0px 0px 10px #f5f0ed;
}

.profile img {
  width: 16%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border: 3px solid #ffffff;
}
.profile {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
}
.intro {
  display: flex;
  color: #ffffff;
  font-family: 'Alumni sans';
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.home-title h2 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Alumni sans';
  font-weight: lighter;
  color: #ffffff;
}
.home-title {
  background: rgba(82, 86, 89, 0.4);
  width: 550px;
}
.qoute {
  margin-top: 1em;
  text-align: center;
  display: block;
  width: 50%;
  font-size: 2rem;
  color: #ffffff;
}
.qoute span {
  font-family: 'Playball', cursive;
}
.social-icons {
  width: 20%;
  margin: 40px auto 0 auto;
}
.social-icons ul {
  display: flex;
}
.social-icons ul a {
  display: block;
  color: #ffffff;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.social-icons ul a:hover {
  background: #525659;
}
/*ABOUTPAGE STYLING*/
.about {
  height: 100%;
  display: flex;
  align-items: center;
}
.about-content {
  color: #3d2616;
  display: flex;
  align-items: center;
  margin: 1em auto;
  background: #ffffff;
  padding: 2em;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.col-1 {
  width: 70%;
}
.col-1 h1 {
  display: block;
  font-size: 6.1rem;
  font-family: 'Bebas Neue', cursive;
}
.col-2 {
  width: 70%;
}
.col-2 p {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  font-family: 'Poppins', cursive;
}
.col-2 h2 {
  font-size: 2rem;
  font-family: 'Poppins', cursive;
}
.col-2 ul li {
  font-size: 1rem;
  font-family: 'Poppins', cursive;
  font-weight: lighter;
}
.col-3 {
  position: absolute;
}
/*END OF ABOUTPAGE STYLING*/
/*Gallery styling*/
.gallery {
  position: relative;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}
.gallery-content {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #ffffff;
  padding-top: 0.1em;
  padding-bottom: 3em;
  border-radius: 10px;
}
.gallery-content h1 {
  font-weight: normal;
  font-size: 3rem;
  position: relative;
  margin: 1em auto;
  color: #3d2616;
}
.gallery-content h1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #3d2616;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 100px;
  }
}
.top-content {
  background-color: #b29887;
  width: 90%;
  margin: 2em auto;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #3d2616;
}
.top-content label {
  display: flex;
  align-items: center;
  padding: 0 1em;
  font-size: 0.7rem;
  cursor: pointer;
  transition: color 0.5s;
}
.top-content label:hover {
  color: #3d2616;
}
#all {
  background-color: #2d3c393d;
  height: 100%;
  padding: 0 40px;
}
#all:hover {
  color: #000000;
}
input {
  display: none;
}
.photo-gallery {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.photo-gallery img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2;
}
.pic {
  position: relative;
  height: 230px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #b29887;
  cursor: pointer;
  transition: 0.5s;
}
.pic img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.pic::before {
  content: 'PHOTO GALLERY';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
  margin-top: -100px;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.2s;
  z-index: 1;
}
.pic::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #b298873d;
  transition: 0.3s;
}
.pic:hover::after {
  height: 100%;
}
.pic:hover::before {
  margin-top: 0;
  opacity: 1;
}
#check0:checked ~ .gallery-content .photo-gallery .pic {
  opacity: 1;
  transform: scale(1);
  position: relative;
}
input#check1:checked ~ .gallery-content .photo-gallery .prenup {
  transform: scale(1);
  opacity: 1;
  position: relative;
}

/*PRICING PAGE STYLING */
.pricing {
  width: 100%;
  height: 100%;
}
.pricing-title {
  position: relative;
  display: flex;
}
.pricing-title h1 {
  font-weight: normal;
  font-size: 3rem;
  position: relative;
  margin: 1em auto;
}
.pricing-title h1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate2 4s linear infinite;
}
@keyframes animate2 {
  0% {
    width: 100px;
  }
  50% {
    width: 250px;
  }
  100% {
    width: 100px;
  }
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.container ul {
  font-family: 'Poppins';
}
.pkg1 {
  width: 100%;
  text-align: center;
  margin: 1em auto;
}
.pkg2 {
  width: 100%;
  text-align: center;
  margin: 1em auto;
}
.pkg3 {
  width: 100%;
  text-align: center;
  margin: 1em auto;
}
.wedding-rate {
  background: #fff9f5;
  color: #3d2616;
}
.wedding-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Italianno', 'sans-serif';
  font-size: 6rem;
  padding-top: 0.2em;
}
.wedding-columns {
  display: flex;
  font-family: 'Poppins', cursive;
  width: 100%;
}
.wedding-columns ul li {
  font-size: 1.5rem;
}
.wedding-columns .pkg2 p:first-of-type {
  margin-top: 1.3em;
}
.wedding-columns .pkg3 p:first-of-type {
  margin-top: 2.6em;
}
.wedding-columns h1 {
  font-size: 2.1rem;
  padding-bottom: 0.5em;
  width: 55%;
  line-height: 1em;
}
.wedding-columns h3 {
  padding-top: 1em;
}
.wedding-columns p:first-of-type {
  font-size: 1.5rem;
  border-bottom: 2px solid #3d2616;
  width: 50%;
}
.debut-rate {
  position: relative;
  margin: 1em auto;
  background: #ffffff;
  color: #3d2616;
  z-index: 1;
}
.debut-rate::before {
  position: absolute;
  content: '';
  background: #efedeb;
  height: 65%;
  width: 100%;
  bottom: 0%;
  z-index: -1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.debut-title {
  font-family: 'Forum', cursive;
  text-transform: uppercase;
  font-size: 5rem;
  padding: 0.2em 0.8em;
}
.debut-columns {
  display: flex;
}
.debut-columns .pkg2 p:first-of-type {
  margin-top: 1em;
}
.debut-columns .pkg3 p:first-of-type {
  margin-top: 2em;
}
.debut-columns h1 {
  font-size: 1.3rem;
  font-family: sans-serif;
  width: 60%;
  padding-bottom: 0.3em;
}
.debut-columns h3 {
  font-family: 'Poppins';
  font-size: 1rem;
}
.debut-columns ul {
  margin-bottom: 1em;
}
.debut-columns p:first-of-type {
  font-family: 'Forum', cursive;
  font-size: 1.6rem;
  border-bottom: 2px solid #3d2616;
  width: 50%;
  margin-bottom: 1em;
}

div.vertical-line {
  border-left: 2px solid black;
  height: 300px;
  position: absolute;
  left: 3%;
  margin-top: 1em;
}

.birthday-rate {
  position: relative;
  background: #ffffff;
  color: #3d2616;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.birthday-rate::before {
  position: absolute;
  content: '';
  background: #efedeb;
  height: 70%;
  width: 100%;
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.birthday-title {
  font-family: 'Forum', cursive;
  text-transform: uppercase;
  font-size: 4rem;
  padding: 0.2em 0.8em;
}
.birthday-columns {
  display: flex;
}
.birthday-columns h1 {
  font-size: 1rem;
  font-family: sans-serif;
  padding-bottom: 2em;
}
.birthday-columns .pkg1 h1 {
  width: 50%;
}
.birthday-columns .pkg2 h1 {
  width: 50%;
}
.birthday-columns .pkg3 h1 {
  width: 40%;
}
.birthday-columns p:first-of-type {
  font-family: 'Forum', cursive;
  font-size: 1.6rem;
  border-bottom: 2px solid #3d2616;
  width: 50%;
  margin-bottom: 1em;
}
.birthday-columns h3 {
  font-family: 'Poppins';
}
.birthday-columns ul {
  margin-bottom: 1em;
}
.baptismal-rate {
  position: relative;
  width: 100%;
  background: #f9f5f2;
  color: #3d2616;
  margin: 1em auto;
}
.baptismal-title {
  height: 100%;
  font-size: 1.9rem;
  font-family: 'Poppins';
  font-weight: bold;
  padding: 0.6em 2em;
}
.baptismal-columns {
  display: flex;
}
.baptismal-columns h1 {
  font-size: 1.4rem;
  font-family: sans-serif;
  padding-bottom: 2.5em;
}
.baptismal-columns .pkg1 h1 {
  width: 60%;
}
.baptismal-columns .pkg2 h1 {
  width: 60%;
}
.baptismal-columns p:first-of-type {
  font-family: 'Forum', cursive;
  font-size: 1.6rem;
  border-bottom: 2px solid #3d2616;
  width: 50%;
  margin-bottom: 0.8em;
}
.baptismal-columns h3 {
  font-family: 'Poppins';
}
.baptismal-columns .pkg2 p:first-of-type {
  margin-top: 1em;
}
.baptismal-columns .pkg3 p:first-of-type {
  margin-top: 2em;
}
.baptismal-columns ul {
  margin-bottom: 1em;
}
@media (max-width: 675px) {
  h2.title-logo {
    width: 100%;
    margin-left: 0.1em;
    font-size: 3rem;
  }
  .profile img {
    width: 20%;
  }
  .home-title {
    width: 100%;
  }
  .navbar .menu li a {
    display: none;
  }
  .home-title h2 {
    font-size: 3rem;
    margin-bottom: 1em;
  }
  .qoute {
    width: 85%;
    font-size: 2rem;
  }
  .social-icons {
    width: 50%;
  }
  .about {
    width: 100%;
    height: 100%;
  }
  .columns {
    flex-direction: column;
  }
  .col-1 h1 {
    font-size: 5rem;
    line-height: 1em;
  }
  .top-content {
    display: none;
  }
  .wedding-columns {
    width: 100%;
  }
  .wedding-columns ul li {
    font-size: 1rem;
  }
  .wedding-columns h1 {
    width: 100%;
  }
  .wedding-columns .pkg3 p:first-of-type {
    margin-top: 4.1em;
  }
  .debut-rate::before {
    position: absolute;
    content: '';
    background: #efedeb;
    height: 57%;
    width: 100%;
    bottom: 0%;
    z-index: -1;
  }
  .debut-columns .pkg3 p:first-of-type {
    margin-top: 2.9em;
  }
  .baptismal-title {
    padding: 0.5em 1em;
  }
}
